@model IEnumerable<DragonBugs2020.Models.Ticket>
@using DragonBugs2020.Services
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> userManager
@inject IBTAccessService accessService

@{
    ViewData["Title"] = "Dashboard";
    var userId = userManager.GetUserId(User);
    var roles = userManager.GetRolesAsync(await userManager.GetUserAsync(User)).Result.FirstOrDefault();
}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<h2>Dashboard</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table id="responsive-datatable" class="table table-bordered table-bordered dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.Created)</th>
                        <th>@Html.DisplayNameFor(model => model.Project)</th>
                        <th>@Html.DisplayNameFor(model => model.TicketType)</th>
                        <th>@Html.DisplayNameFor(model => model.TicketPriority)</th>
                        <th>@Html.DisplayNameFor(model => model.TicketStatus)</th>
                        <th>@Html.DisplayNameFor(model => model.OwnerUser)</th>
                        <th>@Html.DisplayNameFor(model => model.DeveloperUser)</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                            <td>@Html.Raw(item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Created)</td>
                            <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.TicketType.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.OwnerUser.FullName)</td>
                            <td>@Html.DisplayFor(modelItem => item.DeveloperUser.FullName)</td>
                            <td>
                                @if (await accessService.CanInteractTicket(userId, item.Id, roles))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
<!-- Vendor js -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}