@model DragonBugs2020.Models.ViewModels.ManageProjectUsersViewModel



@{ ViewData["Title"] = "Assign Project Users"; }
<span class="over-div">Assign Project Users</span>
<hr />
<div class="row">
    <div class="card col-6 dash-radius">
        <div>
            <span class="descrip">Assign Users to @Model.Project.Name</span>
            <hr />
            <form asp-controller="Projects" asp-action="AssignUsers" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Project.Id">
                <input type="hidden" asp-for="@Model.Project.Name">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="@Model.Users" class="control-label">Team for @Model.Project.Name</label>
                        <select asp-for="@Model.SelectedUsers" class="form-control" asp-items="@Model.Users" multiple="multiple"></select>
                    </div>
                </div>
                <hr />
                <div class="col-12">
                    <div>
                        <input type="submit" value="Assign Roles" class="btn btn-info" />
                        <a class="btn btn-info" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Project.Id">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <span class="descrip">Assign Users to @Model.Project.Name</span>
    </div>
    <div class="row">
        <div class="col-md">

        </div>
    </div>
</div>


















