@model DragonBugs2020.Models.Project
@using DragonBugs2020.Services
@using Microsoft.AspNetCore.Identity
@using DragonBugs2020.Utilities
@inject UserManager<BTUser> userManager
@inject DragonBugs2020.Services.IBTProjectService _projectService
@inject IBTAccessService accessService


@{
    ViewData["Title"] = "Details";
    var userId = userManager.GetUserId(User);
    var roles = userManager.GetRolesAsync(await userManager.GetUserAsync(User)).Result.FirstOrDefault();
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <span class="over-div">
                @Html.DisplayFor(model => model.Name)
                @*<a class="btn btn-light" asp-action="MyProjects">Back to Projects</a>*@
                @if (await accessService.CanInteractProject(userId, Model.Id, roles))
                {
                    <span class="over-div"> | </span>
                    <button class="btn edit" title="button" data-toggle="modal" data-target="#editProject">
                        Edit Project
                    </button>
                    @*<a class="btn edit" asp-action="Edit" asp-route-id="@Model.Id">Edit Project</a>*@
                    <a class="btn assign" asp-action="AssignUsers" asp-route-id="@Model.Id">Assign Team Members</a>
                    <a class="btn remove" asp-action="RemoveUsers" asp-route-id="@Model.Id">Remove Team Members</a>
                }
            </span>
        </div>
    </div>
</div>
<hr />

<div class="container dash-radius">
    <div class="row">
        <div class="col-md-4 dash-radius create-bar">
            <p class="descrip">Team Members:</p><br />
            @foreach (var user in Model.ProjectUsers)
            {
                @user.User.FullName
                <br /><br />
            }
        </div>
        <div class="col-md-8">
            @if (!User.IsInRole("NewUser"))
            {
                <button class="btn createTicket ml-2" title="button" data-toggle="modal" data-target="#createTicket" asp-controller="Tickets" asp-action="Create" asp-route-id="@Model.Id">
                    Create new ticket
                </button>
            }

            <h2 class="title-2">Tickets on this Project:</h2>

            <div id="allTicketAccordion">
                @foreach (var item in Model.Tickets)
                {
                    <div class="card mb-1">
                        <a class="ml-2" data-toggle="collapse" href="#collapseAllTicket-@item.Id">
                            <div id="headingOne">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="accordion-title">@Html.DisplayFor(modelItem => item.Title)</span>
                                    </div>
                                    <div class="col-md">
                                        <div class="float-right">
                                            @if (item.TicketType.Name == "Runtime")
                                            {
                                                <span class="runtime">Runtime</span>
                                            }
                                            @if (item.TicketType.Name == "UI")
                                            {
                                                <span class="ui">UI</span>
                                            }
                                            @if (item.TicketType.Name == "Backend")
                                            {
                                                <span class="backend">Backend</span>
                                            }
                                        </div>
                                        <div class="float-right">
                                            @if (item.TicketStatus.Name == "New")
                                            {
                                                <span class="new">New</span>
                                            }
                                            @if (item.TicketStatus.Name == "Open")
                                            {
                                                <span class="open">Open</span>
                                            }
                                            @if (item.TicketStatus.Name == "Closed")
                                            {
                                                <span class="closed">Closed</span>
                                            }
                                        </div>
                                        <div class="float-right">
                                            @if (item.TicketPriority.Name == "Low")
                                            {
                                                <span class="low">Low</span>
                                            }
                                            @if (item.TicketPriority.Name == "High")
                                            {
                                                <span class="high">High</span>
                                            }
                                            @if (item.TicketPriority.Name == "Urgent")
                                            {
                                                <span class="urgent">Urgent</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div>
                            @if (item.OwnerUser.FileData != null)
                            {
                                <img src=@ImageHelper.DecodeImage(item.OwnerUser.FileData, item.OwnerUser.FileName) class="avatar mt-1" alt="User Image" />
                            }

                            <span class="mt-1">
                                by: @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                            </span>
                        </div>
                        <div id="collapseAllTicket-@item.Id" class="collapse" aria-labelledby="collapseAllTicket-@item.Id" data-parent="#allTicketAccordion">
                            <div class="card-body">
                                <div class="row">
                                    <div col-md-4>
                                        <span>
                                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id" class="btn details">
                                                Details
                                            </a>
                                            @if (await accessService.CanInteractTicket(userId, item.Id, roles))
                                            {
                                                <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id" class="btn edit">
                                                    Edit
                                                </a>
                                            }
                                        </span>
                                        <br /><br />
                                        <span class="created">Project: </span>
                                        <span class="ticket-label">
                                            @Html.DisplayFor(modelItem => item.Project.Name)
                                        </span><br /><br />
                                        <span class="created">Created: </span>
                                        <span class="ticket-label">
                                            @Html.DisplayFor(modelItem => item.Created)
                                        </span><br /><br />
                                        <span class="created">Developer: </span>
                                        <span class="ticket-label">
                                            @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                                        </span>
                                    </div>
                                    <div class="col-md description-dash">
                                        <p class="ticket-label descrip">Description:</p>
                                        <p>@Html.Raw(item.Description)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--EDIT PROJECT MODAL-->
<div class="modal fade" id="editProject" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" data-animation="makeway">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">Edit Project Name</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@*CREATE TICKET MODAL*@
<div class="modal fade" id="createTicket" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" data-animation="makeway">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">Create Ticket</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Tickets" asp-action="Create" enctype="multipart/form-data">
                    <input type="hidden" name="ProjectId" value="@Model.Id" />
                    <div class="dash-radius task-detail">

                        <div class="form-group">
                            <input name="Title" type="text" class="form-control" placeholder="Ticket Name..." />
                        </div>
                        <div class="form-group">
                            <label name="Description" class="control-label"></label>
                            <textarea name="Description" class="form-control" id="mytextarea"></textarea>
                        </div>
                        <div class="row ml-2">
                            @*<div class="form-group">
                                    <span>Project:</span>
                                    <select name="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                                </div>*@
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                <div class="form-group ml-2">
                                    <span>Developer:</span>
                                    <select name="DeveloperUserId" class="form-control" asp-items="ViewBag.DeveloperUserId"></select>
                                </div>
                            }
                        </div>
                        <div class="row ml-2">
                            <div class="form-group ml-2">
                                <span>Ticket Type:</span>
                                <select name="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId"></select>
                            </div>
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                <div class="form-group ml-2">
                                    <span>Ticket Priority:</span>
                                    <select name="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId"></select>
                                </div>
                                <div class="form-group ml-2">
                                    <span>Ticket Status:</span>
                                    <select name="TicketStatusId" class="form-control" asp-items="ViewBag.TicketStatusId"></select>
                                </div>

                            }

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<script>
    tinymce.init({
        selector: '#mytextarea',
        content_css: 'dark'
    });
</script>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}


