@model IEnumerable<DragonBugs2020.Models.Project>
@using DragonBugs2020.Services
@using Microsoft.AspNetCore.Identity

@inject UserManager<BTUser> userManager
@inject IBTAccessService accessService

@{
    ViewData["Title"] = "Index";
    var userId = userManager.GetUserId(User);
    var roles = userManager.GetRolesAsync(await userManager.GetUserAsync(User)).Result.FirstOrDefault();
}


<div class="container">
    <div class="row">
        <span class="over-div mt-1">
            All Projects |
            <a class="btn btn-light" asp-area="" asp-controller="Projects" asp-action="MyProjects">
                Go to My Projects
            </a>
        </span>
    </div>
    <div class="row">
        <div id="wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <table id="responsive-datatable" class="table">
                            <thead class="dash">
                                <tr class="dash">
                                    <th>Project Title</th>
                                    <th>Project Team</th>
                                    <th>Total Tickets</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td class="dash">@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td class="dash">@Html.DisplayFor(modelItem => item.ProjectUsers)</td>
                                        <td class="dash">@Html.DisplayFor(modelItem => item.Tickets.Count)</td>
                                        <td class="dash">
                                            @if (await accessService.CanInteractTicket(userId, item.Id, roles))
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

