@model IEnumerable<DragonBugs2020.Models.Project>
@using DragonBugs2020.Services
@using Microsoft.AspNetCore.Identity

@inject UserManager<BTUser> userManager
@inject IBTAccessService accessService

@{
    ViewData["Title"] = "My Projects";
    var userId = userManager.GetUserId(User);
    var roles = userManager.GetRolesAsync(await userManager.GetUserAsync(User)).Result.FirstOrDefault();
}

<div class="container">

    <span class="over-div mt-1">
        My Projects |
        <a class="btn btn-light" asp-area="" asp-controller="Projects" asp-action="Index">
            Go to All Projects
        </a>
    </span>
    <hr />

    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
    {
        <h4>
            Add a New Project:
        </h4>
        <form asp-action="Create">
            <div class="container-fluid dash-radius-t create-bar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input name="Name" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <input type="submit" value="Create" class="btn create mt-4" />
                        </div>
                    </div>
                </div>
            </div>
        </form>

        @*<form>
                <button class="create" asp-controller="Projects" asp-action="Create">+ New Project</button>
            </form><br />*@
    }
    <br />

    <div class="row">
        <div id="wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <table id="responsive-datatable" class="table">
                            <thead class="dash">
                                <tr class="dash">
                                    <th>Project Title</th>
                                    @*<th>Project Team</th>
                                        <th>Total Tickets</th>*@
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td class="dash">@Html.DisplayFor(modelItem => item.Name)</td>
                                        @*<td class="dash">@Html.DisplayFor(modelItem => item.ProjectUsers)</td>
                                            <td class="dash">@Html.DisplayFor(modelItem => item.Tickets.Count)</td>*@
                                        <td class="dash">
                                            @if (await accessService.CanInteractTicket(userId, item.Id, roles))
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                                            }
                                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card-box projects">
                        <h2 class="text-center">
                            @Html.DisplayFor(modelItem => item.Name)
                        </h2>
                        <form>
                            <button class="details" asp-action="Details" asp-route-id="@item.Id">Details</button>
                            @if (await accessService.CanInteractProject(userId, item.Id, roles))
                            {
                                <button class="edit" asp-action="Edit" asp-route-id="@item.Id">Edit</button>
                            }
                        </form>

                    </div>
                </div>
            }
        </div>*@
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

