
@model DragonBugs2020.Models.ViewModels.ManageProjectUsersViewModel


@{ViewData["Title"] = "Remove Project Users";}
<h2>Remove Users</h2>

<div class="row">

    <div class="card col-6" style="margin:2px">
        <div class="card-body">
            <h2><b>Remove Users from @Model.Project.Name</b></h2>
          
            <hr />
            <form asp-controller="Projects" asp-action="RemoveUsers" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Project.Id">
                <input type="hidden" asp-for="@Model.Project.Name">
                <div class="col-12">
                    <div>
                        <label asp-for="@Model.Users" class="control-label">Roles for @Model.Project.Name</label>
                        <select asp-for="@Model.SelectedUsers" class="form-control" asp-items="@Model.Users" multiple="multiple"></select>
                    </div>
                </div>
                <hr />
                <div class="col-12">
                    <div>
                        <input type="submit" value="Remove User(s)" class="btn btn-info" />
                        <a class="btn btn-info" asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Project.Id">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
