@model IEnumerable<DragonBugs2020.Models.TicketComment>

@using DragonBugs2020.Services
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> userManager
@inject IBTAccessService accessService
@{
    ViewData["Title"] = "Index";
    var userId = userManager.GetUserId(User);
    var roles = userManager.GetRolesAsync(await userManager.GetUserAsync(User)).Result.FirstOrDefault();
}



<div id="wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table id="responsive-datatable" class="table">
                    <thead class="dash">
                        <tr class="dash">
                            <th>Creator</th>
                            <th>@Html.DisplayNameFor(model => model.Ticket)</th>
                            <th>@Html.DisplayNameFor(model => model.Comment)</th>
                            <th>@Html.DisplayNameFor(model => model.Created)</th>
                            <th>@Html.DisplayNameFor(model => model.Updated)</th>

                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="dash">@Html.DisplayFor(modelItem => item.User.FullName)</td>
                                <td class="dash">@Html.DisplayFor(modelItem => item.Ticket.Title)</td>
                                <td class="dash">@Html.DisplayFor(modelItem => item.Comment)</td>
                                <td class="dash">@Html.DisplayFor(modelItem => item.Created)</td>
                                <td class="dash">@Html.DisplayFor(modelItem => item.Updated)</td>

                                <td class="dash">
                                    @if (await accessService.CanInteractTicket(userId, item.Id, roles))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit |</a>
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
